.main_wrapper {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    gap: 32px;
    overflow: hidden;
}

.panel_wrapper {
    background-image: url('../assets/vixen.svg');
    background-repeat: no-repeat;
    background-position-x: 128px;
    background-position-y: -210px;
    background-size: 320px;

    background-color: #1b2224;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px outset #1b222448;
    color: #ffffffbb;
    font-family: 'Fira Code';
    font-size: 13px;
    padding: 0 16px 0 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    overflow: hidden;
}
