:root {
    font-family: 'Cantarell', 'Ubuntu', 'Liberation Sans', 'DejaVu Sans';
    line-height: 1.5;
    font-weight: 400;

    user-select: none;
    -webkit-user-select: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    cursor: default;
}
