:root {
    font-family: Ubuntu, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    user-select: none;
    -webkit-user-select: none;

    /*
    -moz-user-select: none;
    -ms-user-select: none;
    */
}

* {
    cursor: default;
    box-sizing: border-box;
    margin: 0;
}

#root {
    display: flex;
    height: 100vh;
}

.ui_link {
    color: #1ed89a;
}

/* .ui_frame {
    border: 1px solid #1ed89a;
} */
